@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto";
}

header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 124px;
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    gap:12px;
    font-size: 18px;
    color:#E5E7EB;
}


/* Hero section design start */

.hero-section{
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    gap:20px;
    padding:124px;
    background-color: #1F2937;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:8px;
    max-width: 500px;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color:#E5E7EB;
}

.hero-text button{
    background-color: blue;
    padding:8px 16px;
    color:#F9FAF8;
    border-radius: 8px;
    border: none;
}

.hero-image{
    width: 800px;
    margin:10px;
    background-color: grey;
}


/* card section start */

.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:32px;
    gap:20px;
}

.card-box h2{
    font-size: 36px;
    font-weight: 900;
    color:#1F2937
}

.card-holder{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap:20px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    font-size: 18px;
    gap:8px;
}

.card-image{
    width: 160px;
    height: 160px;
    border: 2px solid #689de6;
    border-radius: 16px;
}



/* quote section start */

.quote-section{
    background-color: #E5E7EB;
    padding:124px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.quote-container{
    max-width: 820px;
    display:flex;
    flex-direction: column;
    align-items:flex-end;

}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    color:#1F2937;
    font-style: italic;
}

.quote-author{
    font-weight: bold;
    font-size: 18px;
}


/* cta sectoin start */

.cta-section{
    padding: 80px 124px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.cta-container{
    background-color: #4d8ae0;
    padding: 48px 124px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:64px;
    border-radius: 16px;

}

.cta-text{
    color:#F9FAF8;
}

.cta-container button{
    padding: 4px 20px;
    border:2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color:white;
}


/* footer section start */

footer{
    background-color: #1F2937;
    padding:32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
















