@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto";
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 124px;
    background-color: #1F2937;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}

ul{
    list-style-type: none;
    display: flex;
    gap:12px;
    font-size: 18px;
    color:#E5E7EB;
}